
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 

li {
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    background-color: firebrick;
    padding: 5px 8px;
    white-space: nowrap;
    margin-left: 2px;
}

a:hover {
    background-color: crimson;
    transition: background-color 1s;
}

button:focus {
    outline: 3px solid rgb(1, 160, 233);
}

#page {
    position: relative;
}


body {
    background-color: gainsboro;
    padding-top: 80px;
}

@media (max-width: 650px) {
    body {
        padding-top: 0;
    }
}



.button {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: white;
    cursor: pointer;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.grid {
    display: flex;
}

header {
    position: fixed;
    top: 0px;
    min-height: 40px;
    max-height: 80px;
    padding: 0 20px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
    z-index: 1;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media (max-width: 650px) {
    header {
        flex-wrap: wrap;
        background-color: gainsboro;
        max-height: 350px;
        padding-bottom: 0;
    }
}

@media (max-width: 650px) {
    .logo {
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0 0;
        border: 0px;
        width: 75%;
        height: auto;
        display: flex;
    }
}

.logo > img {
    width: 65%;
    height: 65%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    
}

@media (max-width: 650px) {
    .logo > img {
      display: flex;
      margin: 0 auto;
      border: 0px;
      padding: 0;
    }
}

nav {
    font-weight: 500;
}
  
@media (max-width: 650px) {
    nav {
      margin-top: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0px 50px 10px 50px;
    }

    nav > ul {
        /* background-color: green; */
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 100px;
    }

    nav li {
      padding-bottom: 5px;
      width: 80%;

      /* background-color: crimson; */

    }

    nav a {
        display: block;
        padding: 6px 3px;
        
    }
}
  




#pros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 0px;
}

#pros > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#pros input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    background-color: white;
}

#pros input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    color: white;
    background-color: firebrick;
    transition: background-color 1s;
}

#pros input[type="submit"]:hover {
    background-color: crimson;
}

@media (max-width: 650px) {
    #pros {
        margin-top: 180px;
    }
}

#whyatomic {
    margin-top: 30px;
}

#whyatomic .icon img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: auto;
    padding: 10px 5px 10px 0px;
}

.opaque img {
    opacity: 0.65;
}

@media (max-width: 650px) {
    #whyatomic .icon img {
        /* display: none; */
    }
}

#whyatomic .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 650px) {
    #features .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
}

@media (max-width: 650px) {
    #features {
      margin-top: 0;
    }
}

#inaction {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#pricing {
    margin: 60px 5px 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    height: 300px;
}



.product .level {
    background-color: rgb(172, 169, 169);
    width: 100%;
    padding: 15px 0;
    text-transform: uppercase;

}

.product h2 {
    padding-top: 15px;
}

.product p {
    padding-top: 15px;
}

.product button {
    border: 0;
    background-color: firebrick;
    bottom: 10px;
    
}

.product .product-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 15px 25px;
}

.product button:hover {
    background-color: crimson;
    transition: background-color 1s;
}

@media (max-width: 650px) {
    #pricing {
        flex-direction: column;
    }

    .product {
        width: auto;
    }
}
